*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  position: absolute;
}
p{
  max-width: 25em;
}
nav{
  position: fixed;
  display: inline;
  height: 50px;
  background-color: cadetblue;
  width: 100vw;
  z-index: 2;
  display: grid;
  text-align: right;
  align-items: center;
  font-weight: 600;
  font-size: large;
  padding-top: 10px;
}
.img-container{
  width: 70px;
  height: 70px;
  
}
body{
  display: flex;
  line-height: 1.5;
}
img{
  
  width: 100%; /* or any custom size */
    height: 100%; 
    object-fit: contain;
}
nav a{
  text-decoration-line: none;
  text-transform: capitalize;
  color: black;
}
.right {
  display: flex;
  align-items: left;
  width: 40vw;
  max-width: 800px;
  
  margin-left: 5rem;
  padding: 5rem 0;
}
.left {
  display: flex;
  align-items: right;
  width: 40vw;
  max-width: 800px;
  
  padding: 5rem 0;

}
main{
  width: 90vw;
  margin-top: 2rem;
  position: absolute;
  top: 30px;
  display: flex;
}
.nav-item{
  display:inline;
  padding-left:2rem;
  padding-right:2rem;
  text-decoration: none;
}
a{
  text-decoration: none;
  
}
.nav-list{
  display:inline;
  float: right;
  padding-right: 2rem;
  
}
.skills{
width: 30vh;
height: 30vh;
border-radius: 50%;
background-color:green;
background: repeating-conic-gradient(
  from 0deg,
  green 0deg 50deg,
  blue 50deg 100deg,
  red 100deg 150deg,
  yellow 150deg 200deg,
  orange 200deg 360deg
);

}
.skills-cont{
font-size: 30px;
padding-left: 50px;

}
