


nav{
  position: fixed;
  height: 70px;
  background-color: cadetblue;
  width: 100vw;
  z-index: 2;
  text-align: right;
  font-weight: 600;
  font-size: large;

}
.nav-center{
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.img-container{
  width: 150px;
  height: 150px;
  }
body{
  line-height: 1.5;
}
img{
 width: 100%; /* or any custom size */
 height: 100%; 
 object-fit: contain;
}
nav a{
  text-decoration-line: none;
  text-transform: capitalize;
  color: black;
}
.right {
  width: 50vw;
  margin: 0 auto;
  text-align: center;
  grid-template-rows: 1fr ;
  }
.left {
 width: 50vw;
 margin: 0 auto;
 text-align: center;
 display: grid;
 grid-template-rows: 1fr 1fr;
 
  }
main{
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: white;
}
.nav-item{
  display:inline;
  padding-left:2rem;
  padding-right:2rem;
  text-decoration: none;
}

.skills{
display: inline-block;
width: 30vh;
height: 30vh;
border-radius: 50%;
background-color:green;
background: repeating-conic-gradient(
  from 0deg,
  green 0deg 60deg,
  blue 60deg 120deg,
  red 120deg 220deg,
  yellow 220deg 280deg,
  orange 280deg 360deg
);
}
.skills-cont{
font-size: 30px;
padding-left: 50px;
}
footer {
padding-bottom: 2rem;
background-color: blueviolet;
display: grid;
place-items: center;
}

.skills-info{
  float: right;
  margin-left: 2rem;
}
.skills-cont{
  float: left;
}
.css{
  color:blue
}
.html{
  color:yellow
}
.js{
  color:red
}
.python{
  color:orange
}
.react{
  color:green
}
h1, h2, h3, h4{
  text-transform: capitalize;
}
